<h1 style="text-align:center">All Robots</h1>
{{#each robots}}
<h3 style="text-align:center">{{this.name}}</h3>
<ul style="padding-left:50%">
	<li>{{this.abilities}}</li>
	<li>{{this.isEvil}}</li>
</ul>
{{/each}}