<header class="business-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="tagline">Lettuce Help You!</h1>
                <p>Meating us was not a mis-steak.</p>
                <p>
                    <a class="btn btn-dark btn-md" href="/ingredients">Add Your Ingredients!</a>
                    <a class="btn btn-dark btn-md" href="/orders">Add Your Orders!</a>
                    <a class="btn btn-dark btn-md" href="/kitchen">Complete Orders!</a>
                </p>
            </div>
        </div>
    </div>
</header>

    <!-- Page Content -->
    <div class="container">

        <hr>

        <div class="row">
        <h1 style="text-align:center">Burger Wall of Fame</h1>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="../../images/burger1.jpg" alt="">
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="../../images/burger2.jpg" alt="">
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="../../images/burger3.jpg" alt="">
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Burger App 2016</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>