body::after {
  content: "";
  background: url(../images/catbackground.jpg) scroll repeat 0 0;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;   
  border: 1px solid transparent;
  background-repeat: repeat;
}

body {
  font-family: 'PT Sans Narrow', sans-serif;
}

html {
    width: 100%;
    height: 100%;
    font-family: 'PT Sans Narrow', sans-serif;
}

input {
  font-family: 'PT Sans Narrow', sans-serif;
  width: 200px;
    border: 2px solid white; 
    -webkit-box-shadow: 
      inset 0 0 4px  rgba(0,0,0,0.2),
            0 0 8px rgba(0,0,0,0.2); 
    -moz-box-shadow: 
      inset 0 0 4px  rgba(0,0,0,0.2),
            0 0 8px rgba(0,0,0,0.2); 
    box-shadow: 
      inset 0 0 4px  rgba(0,0,0,0.2),
            0 0 8px rgba(0,0,0,0.2); 
    padding: 2px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 5px 0;
}

input[type=checkbox] {
   width: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
.add,
.disable,
.outofstock,
.complete,
.edit,
.add_order,
.add_ingredient {
    margin: 0 0 35px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

.navbar {
  font-family: 'PT Sans Narrow', sans-serif;  text-transform: uppercase;
  font-size: 50px;
  font-weight: 700;
  color:white;
}
.navbar a:focus {
  outline: none;
}
.navbar .navbar-nav {
  letter-spacing: 1px;
}
.navbar .navbar-nav li a:focus {
  outline: none;
}
.navbar-default,
.navbar-inverse {
  border: none;
}

.disable.false {
  color:black;
}

.disable.true {
  color:grey;
}

.container{
  position:relative;
  display:block;

}
.cover{
  width:100%;
  height:100%;
  background:transparent;
  position:absolute;
  z-index:2;
  top:0;
  left:0;
  display:none;

}

.container.true .cover{
  display:block;
}

/* Custom Button Styles */

.btn-dark,
.disable,
.edit,
.complete {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.disable:hover,
.disable:focus,
.disable:active,
.edit:hover,
.edit:focus,
.edit:active,
.complete:hover,
.complete:focus,
.complete:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

